@import url('https://fonts.googleapis.com/css?family=Open+Sans|Satisfy');

.fix {
  width: 90px;
}

header h1 {
  color: red;
  font font-family: 'Satisfy',cursive;
  margin-top: 20px;
}

.nav-pills>li.active>a {
  color: #5c433f;
  background-color: #eeddcd;

}

.nav-pills>li.active>a:hover {
  background-color: #edf1f4;
  color: #5c433f;
}

nav li {
  font-size:15px;

}

.jumbotron {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 450px;
}
